.StyleSelector {
  margin-top: 20px;
}

.ColorWrapper {
  display: flex;
  margin-top: 15px;
}

.SingleColor {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.SingleColor img {
  width: 100%;
  height: 100%;
}
