.MediaGallery {
  width: 100vw;
  /* overflow-x: hidden; */
}

.MediaGallery img {
  width: 100%;
  height: 100%;
}

.PictureSelectorWrapper {
  margin-top: 10px;
  width: 100vw;

  overflow-x: scroll;
}

.PictureSelector {
  display: flex;
  width: 300%;
}

@media only screen and (min-width: 768px) {
  .MediaGallery {
  }
}
