.SizeSelector {
}

.SizeWrapper {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.SizeWrapper::-webkit-scrollbar {
  display: none;
}

.Sizes {
  display: flex;
}

.container {
  margin-right: 15px;
}

.SingleSize {
  border: 1px solid black;
  padding: 10px;
  
}

.SingleSize .active {
  background-color: rgb(177, 177, 177);
}

