.ColorContainer {
  display: flex;
  flex-wrap: wrap;
}

.ColorDiv {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
}

.ColorDiv img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
